<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>	
<body>
 <div class="element">
 <h1 id="main-heading"> Hello Wonderful people
 <br>Welcome to my channel!</h1></div>





<svg viewbox="0 0 100 20">
  <defs>
    <linearGradient id="gradient">
      <stop color="#000"/>
    </linearGradient>
    <pattern id="wave" x="0" y="-0.5" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)"> 
        <animateTransform
            attributeName="transform"
            begin="0s"
            dur="1.5s"
            type="translate"
            from="0,0"
            to="40,0"
            repeatCount="indefinite" />
      </path>
    </pattern>
  </defs>
  <text text-anchor="middle" x="50" y="15" font-size="17" fill="white" fill-opacity="0.1"><h1></text>
  <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)"  fill-opacity="1"><h1></text>
</svg>



 <div class="ppimg">
	<img class="yellow" src="https://cdn.shopify.com/s/files/1/1257/2223/products/image_ed90760e-3449-4a48-ac8a-9993c40c8394_1100x.jpg?v=1632260725" alt="Girl in a jacket" width="320" height="470">
	<img class="girl" src="https://i.pinimg.com/564x/d9/f8/b1/d9f8b1584d48c612f19d0a8de4337157.jpg" alt="Girl in a jacket" width="320" height="470">
	<img class="girltext" src="https://i.pinimg.com/564x/13/c4/ed/13c4ed12e987aedb8dacf0e3cbfcc078.jpg" alt="Girl in a jacket" width="320" height="470">
</div>

<h2>About Lyn</h2>
<p>I fell by the wayside like everyone else
<br>I hate you, I hate you, I hate you
<br>But I was just kidding myself
<br>Our every moment, I start to replace
<br>'Cause now that they're gone
<br>All I hear are the words that I needed to say</p>

<h2>Hobbies</h2>
<p><br><br>When you hurt under the surface
<br>Like troubled water running cold
<br>Well, time can heal but this won't
</p>

<h2>Friends With</h2>
<p><br><br>So, before you go
<br>Was there something I could've said to make your heart beat better?
<br>If only I'd have known you had a storm to weather
<br>So, before you go
<br>Was there something I could've said to make it all stop hurting?
<br>It kills me how your mind can make you feel so worthless
<br>So, before you go</p>
